<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>실시간 서울 버스 위치 확인</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=leagsu7haf"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<h2>현재 서울에서 운행 중인 [[${busNum}]]번 버스의 위치입니다.</h2>

<div id="map" style="width:100%;height:600px;"></div>

<script th:inline="javascript" >
var mapOptions = {
    center: new naver.maps.LatLng(37.504875, 126.939053),
    zoom: 11
};

var map = new naver.maps.Map('map', mapOptions);

var routeId=[[${routeId}]]


function searchBus(){
$.ajax({
    url : '/busInformation',
    type : "GET",
    data : {data : routeId},
    dataType : "text",
    success : function(data){

        if(data){

            map=new naver.maps.Map('map',mapOptions);

            $(data).find('itemList').each(function(){

                var gpsX=$(this).find("gpsX").text();
                var gpsY=$(this).find("gpsY").text();

                var marker=new naver.maps.Marker({
                    position: new naver.maps.LatLng(gpsY,gpsX),
                    map: map
                });

            });
        };

    },
    error: function(data){
        alert("에러에러");
    }

});
}

var start=searchBus();
var set=setInterval(searchBus,10000);


</script>
<br>
<h3>조회하고자 하는 서울 버스의 번호를 입력하세요.</h3>
<form method="post" action="/searchRtId">
    <input type="text" name="busNum">
    <input type="submit" value="조회하기">
</form>

</body>
</html>

